#header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 50px;
    align-items: center;

}

a:hover {
    cursor: pointer;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#header > * {
    margin: 10px;
}

#intro {
    margin-left: 50px;
    margin-bottom: 100px;
}

#intro > h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
}

#intro > p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-bottom: 100px;
}

#projects {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.icon {
    width: 50px;
}

.project {
    margin: auto;
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    opacity: 10%;
    transition: 2s;
}

.even {
    flex-wrap: wrap-reverse;
}

.project-title {
    font-size: 30px;
    padding-left: 50px;
}

.project-pic {
    width: 500px;
    padding: 0px;
}

.caption {
    width: 500px;
    font-size: 30px;
    padding: 10px 50px;
}

.project-links {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-links > a {
    font-size: 20px;
    padding-top: 10px;
    opacity: 30%;
    text-decoration: none;
}

.project-links > a:hover {
    cursor: pointer;
    opacity: 100%;
}

.offstage {
    opacity: 0%;
    transition: 3s;
}

.onstage {
    opacity: 100%;
}