#header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 50px;
    align-items: center;
    padding: 20px 40px;
}

#contact-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 20px;
}

#contact-button:hover {
    cursor: pointer;
    color: white;
    background-color: black;

}

#contact-me {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

#contact-form {
    height: 500px;
}

#form-top {
    display: flex;
    flex-direction: row;
}

#form-bottom {

}

.form-duo {
    margin: 10px;
    font-size: 30px;
}

.form-duo > input {
    font-size: 30px;
}

a:hover {
    cursor: pointer;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#header > * {
    margin: 10px;
}

#intro {
   text-align: center;
   padding-bottom: 100px;
}

#intro > h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
}

#intro > p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-bottom: 100px;
}

#projects {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.icon {
    width: 50px;
}

.project {
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    opacity: 10%;
    transition: 2s;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
}

.even {
    flex-wrap: wrap-reverse;
}

.project-title {
    font-size: 30px;
    padding-left: 50px;
}

.project-pic {
    width: 500px;
    padding: 0px;
}

.caption {
    width: 500px;
    font-size: 30px;
    padding: 10px 50px;
}

.project-links {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-links > a {
    font-size: 20px;
    padding-top: 10px;
    opacity: 30%;
    text-decoration: none;
}

.project-links > a:hover {
    cursor: pointer;
    opacity: 100%;
}

.offstage {
    opacity: 0%;
    transition: 3s;
}

.onstage {
    opacity: 100%;
}